global
        stats timeout 30s
        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL).
        ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
        
        # lua scripts
        lua-load /etc/haproxy/lua-scripts/choose-backend.lua

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend localnodes
    bind *:80
    mode http
    use_backend %[lua.choose-backend]

backend default
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server service1 service1.node.dev.docker:3000 check
    server service2 service2.node.dev.docker:3000 check

backend nodes-prim
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server service1 service1.node.dev.docker:3000 check

backend nodes-sec
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server service2 service2.node.dev.docker:3000 check

listen admin
    bind *:80
    stats enable
    stats realm Haproxy\ Statistics
    stats auth admin:123
